Лекция про обход/direct_robot.ipynb
Лекция про обход/edge_robot.ipynb
Лекция про обход/test_edge_robot.ipynb
Лекция про обход/to_lecture_parametric_types.ipynb
types_of_robot/.DS_Store
.DS_Store
ioo
untitled.sit
zdes_trash
omen_govna
*.vscode
.vscode/*